h1{
    text-align:center;
}

h2{
  margin-left: 35%;
}
.article{
 border: 2px solid black;
 width: 100px;
 height: 110px;
 position:absolute;
}

.article:hover{
   box-shadow: 5px 5px black;
}

img{
    display: block;
    margin: auto;
    padding-top: 20%;
    width: 70%;
  }
  
nav ul{
  
  text-align: center;
  width: 25%;
  margin-left: 36%;
  margin-top: 30%; 
  display: flex;
  flex-direction: row;
}

nav ul li {
  background-color: #5aaf83;
  color: #070707;
  border: 1px solid #000000;
  cursor: pointer;
  width: 91px;
  height: 48px;
  box-shadow: 5px 5px black;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices{
  width: 30%;
  margin: auto;
  margin-top: 10%;
}

